<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retical.biolink">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/blogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditLink"></activity>
        <activity android:name=".Phone" />
        <activity android:name=".Email" />
        <activity android:name=".Telegram" />
        <activity android:name=".WhatsApp" />
        <activity android:name=".Webpage" />
        <activity android:name=".AddLink" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>